.generationSelectDropdown {
    --height: 3.2644vh;
    width: calc(var(--height) * 6.667);
    height: var(--height);
    position: fixed;
    left: 10px;
    top: -5px;
    box-sizing: border-box;
    font-size: 1.74vh;
}



.generationSelectDropdown * {
    box-sizing: border-box;
}

.selectedGeneration {
    background: #2a2f3b;
    color: white;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    border: 2px #2a2f3b solid;
    border-radius: 0.5em;
    padding: 0.2em;
    padding-right: 1em;
    padding-left: 1em;
    cursor: pointer;
    transition: background 0.3s;
}

.selected {
    margin: 5px !important;
}

.selectedGeneration:hover {
    background: #323741;
}

.caret {
    position: absolute;
    right: 1em;
    width: 0;
    height: 0;
    border-left: 0.3125em solid transparent;
    border-right: 0.3125em solid transparent;
    border-top: 0.375em solid white;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.generationMenu {
    list-style: none;
    padding: 0.2em 0.5em;
    background: #323741;
    border: 1px #363a43 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #9fa5b5;
    position: absolute;
    top: 4em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 10;
}

.generationMenu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.generationMenu li:hover {
    background: #2a2d35;
}

.activeSelection {
    background-color: #23242a;
}

.generationMenu-open {
    display: block;
    opacity: 1;
}

@media only screen and (max-width: 1230px) {
    .generationSelectDropdown {
        opacity: 0;
    }
}

@media only screen and (max-aspect-ratio: 9/15){
    .generationSelectDropdown {
        opacity: 1;
        --height: 3.2644vh;
        width: 30vw;
        /* width: calc(var(--height) * 6.667); */
        height: var(--height);
        position: fixed;
        left: 10px;
        top: -5px;
        box-sizing: border-box;
        font-size: 3vw;
    }

    .generationMenu {
        /* width: 100vw; */
    }

    .selectedGeneration {
        padding: 0.1em;
        padding-right: 0.5em;
        padding-left: 0.5em;
    }
}