@keyframes grow {
    from {
        transform: scale(0.01);
    }
    to {
        transform: scale(1);
    }
}

#topRelativeBar {
    width: 100vw;
    position: relative;
    top: 0px;
}

.endingScreen {
    --endDimensions: 65.3vh;
    --endMargins: -32.65vh;
    width: var(--endDimensions);
    height: var(--endDimensions);
    position: fixed;
    z-index: 101;
    top: 50%;
    left: 50%;
    margin-left: var(--endMargins);
    margin-top: var(--endMargins);
    background-color: white;
    color: black;
    border: 2.176vh black solid;
    box-shadow: 0px 0px 50px #575a5e;
    animation: grow 0.5s ease-out forwards;
    border-radius: 50%;
    overflow: hidden;
    box-sizing: border-box;
    font-size: 1.74vh;
}

.endBoxTop {
    height: 47.5%;
    width: 100%;
    background-color: red;
}

.endBoxMiddle {
    height: 5%;
    width: 100%;
    background-color: black;
}

.endBoxBottom {
    height: 47.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 25%;
}

.endBoxMiddleBall {
    width: calc(var(--endDimensions) / 3);
    height: calc(var(--endDimensions) / 3);
    border-radius: 50%;
    background-color: white;
    border: 2.176vh black solid;
    box-sizing: border-box;
    position: fixed;
    z-index: 102;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultDiv {
    font-size: 3.8vh;
}

.playAgainButton {
    height: 5.44vh;
    background-color: rgb(177, 175, 175);
    transition: all 0.2s ease-in-out;
    border: none;
    font-size: 1em;
}

.playAgainButton:hover {
    background-color: rgb(148, 147, 147);
    transform: scale(1.2, 1.2);
    border: none;
    font-size: 1.05em;
    transition: all 0.2s ease-in-out;
}

.playAgainButton:focus {
    outline: none;
}

.playAgainButton:active {
    outline: none;
    transform: translate(0px, 10px) scale(1.2, 1.2);
    transition: all 0.05s ease-in-out;
}

@keyframes losingBlink {
    50% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.8;
    }
}

.redFlashScreen {
    animation: losingBlink 1s linear infinite;
    background-color: red;
    position: fixed;
    z-index: 1000;
    width: 100vw;
    opacity: 0;
    left: 0;
    top: 0;
    height: 100vh;
}

@media only screen and (max-aspect-ratio: 1/1){
    .endingScreen {
        --endDimensions: 90vw;
        --endMargins: -45vw;
    }

    .resultDiv {
        font-size: 2.5vh;
    }

    .playAgainButton {
        width: 20vw;
        height: 3.5vh;
        font-size: 0.8em;
        padding: 0;
    }
}