#headerBar {
    top: 0px;
    position: fixed;
    width: 100vw;
    height: 5.44vh;
    background-color: black;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
    color: white;
    font-size: 1.74vh;
}

.headerPokemonLogo {
    --headerLogoWidth: calc(var(--headerLogoHeight) * 4.633484);
    --headerLogoHeight: 5.44vh;
    background-image: url(../images/pokemonLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: var(--headerLogoWidth);
    height: var(--headerLogoHeight);
    background-color: rgb(255, 255, 255, 0);
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

.headerButtons {
    --headerButtonHeight: 4.35vh;
    /* padding: calc(var(--headerButtonHeight) * 0.00544); */
    width: calc(var(--headerButtonHeight) * 3.5);
    height: var(--headerButtonHeight);
    text-align: center;
    transition: all 0.15s ease-in-out;
    border: none;

    --font-size: 1.5vh;
    font-size: var(--font-size);
    display: flex;
    align-items: center;
    justify-content: center;

    margin-left: 5px;
    padding: 2px
}

.headerButtons:hover {
    background-color: rgb(196, 191, 191);
    transform: scale(1.1, 1.1);
    /* text-transform: scale(1.05, 1.05); */
    transition: all 0.15s ease-in-out;
    outline: none;
    border: none;
    font-size: calc(var(--font-size) * 1.05);
}



.currentScoreText {
    font-weight: bold;
    color: white;
}

.highScoreText {
    font-weight: bold;
    color: #FFCC01;
}

.footerBar {
    bottom: 0px;
    /* position: absolute; */
    position: fixed;
    width: 100vw;
    height: 5.44vh;
    background-color: rgb(255, 255, 255, 0);
    z-index: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    overflow: hidden;
    overflow-x: hidden;
}

.timerBar {
    width: 100%;
    height: 100%;
    background-color: #FFCC01;
    z-index: 1000;
}

@media only screen and (min-aspect-ratio: 1){
    .headerButtons {
        margin-left: 50px;
    }
    .currentScoreTextHolder {
        margin-left: 50%;
    }
    .highScoreTextHolder {
        margin-left: 5%;
    }
}

@media only screen and (max-aspect-ratio: 1) {
    #headerBar {
        justify-content: space-evenly;
    }
    .highScoreTextHolder {
        margin-right: 3px;
    }
}

