#headerBar {
    top: 0px;
    position: absolute;
    width: 100vw;
    height: 50px;
    /* background-color: #575A5E; */
    background-color: black;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.headerPokemonLogo {
    --headerLogoWidth: calc(var(--headerLogoHeight) * 4.633484);
    --headerLogoHeight: 50px;
    background-image: url(../images/pokemonLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: var(--headerLogoWidth);
    height: var(--headerLogoHeight);
    background-color: rgb(255, 255, 255, 0);
}

.headerButtons {
    padding: 5px;
    width: 150px;
    height: 40px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    border: none;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerButtons:hover {
    background-color: rgb(196, 191, 191);
    transform: scale(1.1, 1.1);
    /* text-transform: scale(1.05, 1.05); */
    transition: all 0.3s ease-in-out;
    outline: none;
    border: none;
    font-size: 1.05em;
}

.currentScoreText {
    font-weight: bold;
    color: white;
}

.highScoreText {
    font-weight: bold;
    color: #FFCC01;
}

.footerBar {
    bottom: 0px;
    position: absolute;
    width: 100vw;
    height: 50px;
    /* background-color: blue; */
    background-color: white;
    z-index: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    overflow: hidden;
    overflow-x: hidden;
}

.timerBar {
    /* border-radius: 20px; */
    width: 100%;
    height: 100%;
    /* background-color: rgb(107, 209, 107); */
    background-color: #FFCC01;
    /* border-top-right-radius: 20px; */
    /* border-bottom-right-radius: 20px; */
}

