
.pokemonLogo {
    background-image: url(../images/pokemonLogo.png);
    background-repeat: no-repeat;
    background-size: 100%;

    position: absolute;

    top: 00px;
    
    --height: 19.6vh;
    height: var(--height);
    width: calc(var(--height) * 5);

    left: 50%;
    transform: translateX(-50%);
}


@media only screen and (max-width: 930px) {
    .pokemonLogo {
        width: 96.77vw;
        height: 19.355vw;
    }
}

@media only screen and (max-aspect-ratio: 9/15){
    .pokemonLogo {
        top: 50px;
    }
}