

.buttons {
    background-color: rgb(209, 207, 207);
    transition: all 0.2s ease-in-out;
    border: none;
    font-size: 1em;
    width: 38%;
    margin: 2% !important;
    padding-left: 0;
    padding-right: 0;
    margin-top: 1% !important;
}

.buttons:hover {
    background-color: rgb(177, 174, 174);
    /* transform: scale(1.1, 1.1); */
    border: none;
    /* font-size: 1.05em; */
    transition: all 0.2s ease-in-out;
}

.buttons:active {
    outline: none;
}

.modesContainer {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 !important;
}

.instructionsButton {
    /* background-color: rgb(209, 207, 207); */
    /* background-color: #688fd8; */
    background-color: #454c5a;
    transition: all 0.2s ease-in-out;
    border: none;
    font-size: 1em;
    margin: 3% !important;
    padding: 0;
    border-radius: 50%;
    width: 10%;
    height: 10%;
    border: black 2px solid;
    box-shadow: 0 1px 5px black;
    color: white;
    transition: 0.2s;
}

.instructionsButton:hover {
    transform: scale(0.9, 0.9);
    border: black 2px solid;
    transition: 0.2s;
}

.instructionsButton:active {
    transform: scale(0.6, 0.6);
}

@media only screen and (min-aspect-ratio: 1/1){
    .instructionsButton {
        font-size: 2em;
    }
}

/* For iphone XR + on 9/19.5 resolution*/
/* the taller the screen, the more the sizes should be based on width, and vice versa */
@media only screen and (max-aspect-ratio: 9/15){ 
    .buttons {
        font-size: 2vh;
    }
    .instructionsButton {
        font-size: 3vh;
    }
}

/* For iphone 8 and under on 9/16 resolution */
@media only screen and (min-aspect-ratio: 9/15) and (max-aspect-ratio: 1/1){
    .buttons, .instructionsButton {
        font-size: 2vh;
    }
}

.difficultyText {
    font-size: 2.1vh;
}

.whichGameModeText {
    width: 70%;
    margin-top: 10% !important;
}

.inputAndButtonHolder {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backButton {
    margin: 0;
    width: 20%;
    margin: 0 !important;
    margin-top: 3% !important;
}

.titleText {
    font-size: 5vw;
    font-weight: bold;
    margin: 0;
}

@media only screen and (min-aspect-ratio: 1){
    .whichGameModeText {
        font-size: 3vh;
        font-weight: bold;
    }

    .titleText {
        font-size: 3.3vh;
    }
}

@media only screen and (max-aspect-ratio: 1){
    .whichGameModeText {
        font-size: 4vw;
    }

    .titleText {
        font-size: 5vw;
    }
}