#root {
    width: 100vw;
    height: 100%;
    /* padding-top: 2rem; */
    /* margin: 0 auto; */
    /* padding: 2rem; */
    text-align: center;
    z-index: 1;
    box-sizing: border-box;
    background-color: rgb(255,255,255,0);
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /* -webkit-appearance: textfield; */
    margin: 0;
}

input {
    margin: 10px;
    text-align: center;
    font-size: 30px;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgb(255,255,255,0);
}

#wholeBodyDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#gameBodyDiv {
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    width: 100vw;
    height: 100%;
    /* height: 100%; */
    /* padding-top: 2rem; */
    box-sizing: border-box;
    overflow-y: visible;
    background-color: rgb(255,255,255,0);
}

#centerBallDiv {
    /* --ballDimensions: 60.93vh; */
    --ballDimensions: 54.4vh;
    width: var(--ballDimensions);
    height: var(--ballDimensions);
    background-color: white;
    /* border: 10px solid #575a5e; */
    border: calc(var(--ballDimensions) * 0.06) solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* box-sizing: border-box; */

    font-size: calc(var(--ballDimensions) * 0.032);
}

#centerBallDiv * {
    margin-top: calc(var(--ballDimensions) * 0.02);
    margin-bottom: calc(var(--ballDimensions) * 0.02);
}


/* @media only screen and (max-height: 760px) {
    #centerBallDiv {
        height: var(--ballDimensions);
        width: var(--ballDimensions);
    }
} */

@media only screen and (max-width: 560px) {
    #centerBallDiv {
        --ballDimensions: 88vw;
    }
}

.ballInstructions {
    max-width: calc(var(--ballDimensions) * 0.8);
    font-size: 2.2vh;
}

.ballSecondaryInstructions {
    max-width: calc(var(--ballDimensions) * 0.8);
    font-size: 2.2vh;
}

.ballFormDiv {
    margin: 0 !important;
}

.startGameButton {
    font-size: calc(var(--ballDimensions) * 0.05);
}

@media only screen and (min-aspect-ratio: 1/1){
    .gameLimitNumberInput {
        width: calc(var(--ballDimensions) * 0.15);
        height: calc(var(--ballDimensions) * 0.1);
        font-size: calc(var(--ballDimensions) * 0.06);
    }
}

/* For iphone XR + on 9/19.5 resolution*/
/* the taller the screen, the more the sizes should be based on width, and vice versa */
@media only screen and (max-aspect-ratio: 9/15){ 
    .gameLimitNumberInput {
        width: 10%;
        height: 3.3vh;
        font-size: 2.5vh;
    }
    .startGameButton {
        font-size: 2.5vh;
    }
}

/* For iphone 8 and under on 9/16 resolution */
@media only screen and (min-aspect-ratio: 9/15) and (max-aspect-ratio: 1/1){
    .gameLimitNumberInput {
        width: 10%;
        font-size: 2.5vh;
    }
    .startGameButton {
        font-size: 3vh;
    }
}

.startGameButton:hover {
    cursor: pointer;
}

.timedModeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 !important;
}

.timedModeInput {
    width: calc(var(--ballDimensions) * 0.04);
    height: calc(var(--ballDimensions) * 0.04);
}

.timedModeInput:hover {
    cursor: pointer;
}

.timedModeText {
    /* font-size: 20em; */
    font-size: calc(var(--ballDimensions) * 0.04);
}

.timedModeText:hover {
    cursor: pointer;
}

.ballBottomStrongTag {
    font-weight: bold;
    margin-bottom: calc(var(--ballDimensions) * 0.05)!important;
    font-size: 2.2vh;
}

.pokeBallLoading{
    width: calc(var(--ballDimensions) * 0.15);
    height: calc(var(--ballDimensions) * 0.15);
    background-image: url(./components/images/Pokeball.png);
    background-size: 100%;
    animation: pokeBallSpinning 1.5s infinite linear;
    position: relative;
}

@keyframes pokeBallSpinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loadingText {
    position: absolute;
    bottom: calc(var(--ballDimensions) * 0.3);
    font-size: 1.25em;
}

.enterModeSelectButton {
    height: 5vh;
    background-color: rgb(209, 207, 207);
    transition: all 0.2s ease-in-out;
    border: none;
    font-size: 1em;
}

.enterModeSelectButton:hover{
    background-color: rgb(177, 174, 174);
    border: none;
    transition: all 0.2s ease-in-out;
}

.howToPlayButton {
    height: 5vh;
    background-color: rgb(209, 207, 207);
    transition: all 0.2s ease-in-out;
    border: none;
    font-size: 1em;
}

.howToPlayButton:active {
    outline: none;
}

@media only screen and (min-aspect-ratio: 1){
    .enterModeSelectButton:hover{
        background-color: rgb(177, 174, 174);
        transform: scale(1.1, 1.1);
        border: none;
        font-size: 1.05em;
        transition: all 0.2s ease-in-out;
    }

    .howToPlayButton:hover {
        background-color: rgb(177, 174, 174);
        transform: scale(1.1, 1.1);
        border: none;
        /* font-size: 1.05em; */
        transition: all 0.2s ease-in-out;
    }
}

@media only screen and (max-aspect-ratio: 1){
    .enterModeSelectButton {
        font-size: 1.3em;
        height: 6vh;
    }
    .howToPlayButton {
        font-size: 1.3em;
        height: 6vh;
    }
}

.enterModeSelectButton:active {
    outline: none;
    /* transform: translate(0px, 10px) scale(1.2, 1.2);
    transition: all 0.05s ease-in-out; */
}

